$cores: (
    color-1: #FF5733,
    color-2: #33FF57,
    color-3: #3357FF,
    color-4: #F333FF,
    color-5: #33FFF5,
);

body { 
    background-color: black;
    color: white;
}

$i: 1;
@each $nome, $cor in $cores {
    .#{$nome}{
        width: calc(100% / 5 * $i);
        background-color: $cor;
        margin-bottom: 10px;
        padding: 10px;
    }
    $i: $i + 1;
}


// @for $i from 1 through 5{
//     .color-#{$i}{
//         width: calc(100% / 5 * $i);
//         background-color: brown;
//         margin-bottom: 10px;
//     }
// }
/*
100% / 5 * 1 => 20%
100% / 5 * 2 => 40%
100% / 5 * 3 => 60%
100% / 5 * 4 => 80%
100% / 5 * 5 => 100%
*/